@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --bg-dorado-1: #323b60;
  --bg-dorado-2: #98b3c8;
  --bg-dorado-3: #f4cece;
  --bg-dorado-4: #323b60;
  --bg-dorado-5: #f4cece;
  --txt-body: #242424;
  --white: #ffffff;
  --gray: #989898;

  --bg-dorado-opacity-50: #f4cece;

  --bg-section-light: #d9d9d9;
  --bg-section-dark: #393939;
  --bg-footer: #242424;

  --bg-gradient: linear-gradient(
    131deg,
    #323b60 -3.63%,
    #98b3c8 55.5%,
    #f4cece 107.94%
  );

  --font-great-vibes: "Great Vibes", cursive;
  --font-PT-serif: "PT Serif", serif;

  --img-photo-home: url(../img/Photo-home.webp);
  --img-F1: url(../img/F1.webp);
  --img-F2: url(../img/F2.webp);
  --img-F3: url(../img/F3.webp);
  --img-F4: url(../img/F4.webp);
  --img-F5: url(../img/F5.webp);

  --img-overlay-stain-1: url(../img/stain-1.svg);
  --img-overlay-stain-2: url(../img/stain-2.svg);

  --img-overlay-points-1: url(../img/points-2.svg);
  --img-overlay-points-2: url(../img/points-2.svg);

  --img-overlay-leaf-1: url(../img/leaf-1.svg);
  --img-overlay-leaf-2: url(../img/leaf-2.svg);
  --img-overlay-leaf-3: url(../img/leaf-3.svg);
}
